
// Body
$body-bg: #dddddd;

// Brands
$brand-primary: #456e90;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #596063;

// Navbar
$navbar-default-bg: #fff;
$top-drag-height:25px;

// Buttons
$btn-default-color: $text-color;

$btn-default-color:              #ffffff;
$btn-default-bg:                 #596063;
$btn-default-border:             #596063;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #333;

// navbar

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-default-color:                      $text-color;
$navbar-inverse-color:                      $text-color;
$navbar-inverse-bg: #ffffff;
$navbar-inverse-border:                     $navbar-inverse-bg;
//

//// Inverted navbar links
$navbar-default-link-color:                 $text-color;
$navbar-inverse-link-color:                 $text-color;
$navbar-inverse-link-hover-color:           darken($text-color, 10%);
$navbar-inverse-link-hover-bg:              $navbar-inverse-bg;
$navbar-inverse-link-active-bg:              darken($navbar-inverse-bg, 10%);
//$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
//$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
//$navbar-inverse-link-disabled-color:        #444 !default;
//$navbar-inverse-link-disabled-bg:           transparent !default;
//
//// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #333;
$navbar-inverse-brand-hover-bg:             transparent;
//
//// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        transparent;

$navbar-height:                    40px;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$footer-height:                   30px;
$footer-bg: $navbar-inverse-bg;
$footer-color: $navbar-inverse-link-color;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1px;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: 0px;
